<%- include('partials/header') %>

<main>
    <form action="/edit/<%= note.id %>" method="post">
       <div class="title">
        <label for="" class="title" >TITLE</label>
        <input type="text" name="title" value="<%= note.title%>">
       </div>
        <div class="body">
        <label  for="" id="bodyid">BODY</label>
        <textarea name="body" id="bodytextareaid"" cols="30" rows="10"><%= note.body %></textarea>
        <input  id="bodyinputid" type="submit" value="save">
        </div>
    </form>
</main>



<%- include('partials/footer') %>