<%- include('partials/header') %>

<main id="note" class="container">
    <h1><%= note.title %></h1>
    <div><%= note.body %></div>

    <a class="aindex1" href="/edit/<%= note.id %>">Edit note</a>
    <a class="aindex1" href="/delete/<%= note.id %>">Delete note</a>
</main>



<%- include('partials/footer') %>